@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* @import url('../fonts/GreatVibes-Regular.ttf'); */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;

}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
/* Utility Class ******************/
/* .container {
    max-width: 1280px;
    padding: 0 1.5rem;
    margin: auto;
    overflow: hidden; 
} */

.primary-color {
    color: #00B0FF;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;

}

p {
    line-height: 1.5;
    margin: 0.75rem 0;
}

.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
    display: inline-block;
    color: #fff;
    background: linear-gradient(to right,#039BE5, #00B0FF , #039BE5);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 25px;
}

.btn:hover {
    background: rgb(0, 127, 185);
    color: #fff;
}

.btn-dark {
    background: #333;
    color: #fff;
}
.bg-light {
    background: #f4f4f4;
    color: #333;
  }
  
.bg-dark {
    background: #333;
    color: #fff;
  } 

.bg-primary {
    background:#0D47A1;
    color: #fff;
  }
.list {
    margin: 0.5rem 0;
    /* list-style: none; */
    /* text-align: left */

  }
  
.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
    list-style: none;
  }
.center {
    text-align: center;
    /* margin-bottom: 4rem; */
}  

.bd{
    border: 2px solid rgb(255, 255, 255);
}
.bd-dark{
    border: 2px solid rgb(0, 0, 0);
}
.box-shadow{
 filter: drop-shadow(10px 10px 40px rgba(99, 99, 99, 0.295));
}
/* Navbar *****************/
#navbar {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
   
}
.nav-container {
    
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 0.5rem 1rem;
    margin: 0 auto;
   
}


.nav-container .logo a{
    color: #00B0FF;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    text-decoration: none;
}

.nav-container ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between; 
    /* box-sizing: border-box; */
    padding-top: 1rem;
    /* width: 50% */
}
.nav-container ul li {
    background-color: #fff;
    /* margin: 0 1rem; */
    /* opacity: 0.3; */
}
.nav-container ul li a {
    padding: 0.75rem;
    margin: 0 0.75rem;

    
}

.nav-container ul li a:hover{
    background: #00B0FF;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    /* font-size: 22px; */
    /* padding: 0.5rem; */
    text-align: center;
}

/* Showcase ********************/
#showcase {
    background-color: #fff;
    /* height: 100vh; */
}

#showcase .showcase-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4rem 1rem; 
}
#showcase .showcase-container .wall-text {
    align-self: flex-start;
    padding: 3rem 0;
}
#showcase .showcase-container h3 {
    margin-top: 3rem;
}
#showcase .showcase-container .line {
    width: 20rem;
    height: 3px;
    background-color: #00B0FF;
    margin: 4rem 0;
}
#showcase .wall-img{
    filter: drop-shadow(0px 20px 10px rgba(54, 53, 53, 0.459));
}
/* Section About  *****************/
#about .container{
    padding-top: 6rem;
}
.about {
   z-index: -3;
}
.about .about-img {
    background: #333 url('../img/about_me.jpg') no-repeat center center/cover;
    height: 30rem;

}
.about-text ul li{
    align-items: center;
    text-justify: auto;
    list-style: none;
    line-height: 2rem;
    font-size: 1.2rem;
}
/* Skills */
/* Front-end Skills */
.box-wrapper{
    margin-bottom: 3rem;
    padding: 3rem 1.5rem;
    box-shadow: 0px 0px 30px rgb(194, 194, 194);
    justify-content: space-evenly;
}
.box-wrapper .box-img{
    width: 100%;
    height: auto;
    margin: 0 5rem;
    filter: drop-shadow(0px 80px 30px rgba(110, 110, 110, 0.521));

}
.box{
    padding:1rem;
}

.box h3{ 
    padding: 1rem 0;
} 
.box ul {
    margin-top: 1rem;
    list-style: none;
    text-align: justify;
}
@media only screen and (min-width: 786px){
    .desktop-left {
        order: 1;
    }
}

/* Section: Contact */

#contact{
    padding-top: 4rem;
}
#contact .myform{
    max-width: 60rem;
    margin: 2rem auto;
    padding: 5rem 2.5rem;
    background: #fff;
    box-shadow: 0px 0px 80px #c0c0c0;
    /* border-radius: 10px; */
    /* border: 3px solid #1E88E5; */
}

@media only screen and (min-width: 786px){
    #contact .myform{
        max-width: 60rem;
        margin: 2rem auto;
        padding: 5rem 8rem;
    }
}
#contact .ol{
    outline: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #333;
}

/* Footer */
#main-footer {
    background: #333;
    color: #fff;
    height: 5rem; }
#main-footer .footer-content {
      display: flex;
      justify-content: space-between;
      height: 5rem;
      align-items: center; }
#main-footer .footer-content .social .fab {
    margin-right: 1rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 20px;
    text-align: center;
     padding: 3px;
     color: white;
}
#main-footer .footer-content .social .fab:hover {
    background: #00B0FF;
 }
 #main-footer .footer-content h4 {
     padding-left: 8rem;
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
 }
